@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Lora&display=swap");

/* Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */

:root {
  --FONT: "Cinzel", serif;
  --FONTTWO: "Lora", serif;
  --COLORONE: rgba(0, 0, 0, 0.95);
  --COLORTWO: #f2f2f2;
  --COLORTHREE: #e17a00;
  --PADDING: 25px;
}

html {
  scroll-behavior: smooth;
  background-image: url(images/clouds.jpg);
  background-size: cover;
  background-color: var(--COLORONE);
}

body {
  background-color: var(--COLORTWO);
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
}

.mainheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header-img {
  width: 85px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 57.594328px;
  font-weight: bold;
  padding-left: var(--PADDING);
  font-family: var(--FONT);
}

span {
  color: var(--COLORTHREE);
}

nav {
  background: var(--COLORONE);
  border-top: solid var(--COLORTHREE) 5px;
  border-bottom: solid var(--COLORTHREE) 5px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: var(--COLORTWO);
  font-size: 35.596px;
  padding: 55px;
  font-family: var(--FONT);
}

nav a:hover {
  color: var(--COLORTHREE);
}

.main-img {
  width: 100%;
  border-bottom: solid 5px var(--COLORTHREE);
}

h2 {
  font-size: 22px;
  text-align: left;
  padding: 15px;
  padding-bottom: var(--PADDING);
  font-family: var(--FONTTWO);
}

.footer-container {
  background-color: var(--COLORONE);
  color: var(--COLORTWO);
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--FONTTWO);
}

@media screen and (max-width: 600px) {
  body {
    background-color: var(--COLORTWO);
    max-width: 100%;
    max-height: fit-content;
    line-height: 36px;
  }

  h1 {
    font-size: 36px;
    padding: 20px;
  }

  .header-img {
    display: none;
  }

  nav {
    padding: 20px 0;
  }

  nav a {
    font-size: 22.24px;
    padding: 16px;
  }

  h2 {
    font-size: 16px;
  }
}
