@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Lora&display=swap");

/* Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */

:root {
  --FONT: "Cinzel", serif;
  --FONTTWO: "Lora", serif;
  --COLORONE: rgba(0, 0, 0, 0.95);
  --COLORTWO: #f2f2f2;
  --COLORTHREE: #e17a00;
  --PADDING: 25px;
}

html {
  scroll-behavior: smooth;
  background-image: url(../images/clouds.jpg);
  background-size: cover;
  background-color: var(--COLORONE);
}

body {
  background-color: var(--BODYBACKGROUND);
  color: var(--FONTCOLOR);
  max-width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header-img {
  width: 85px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 57.594328px;
  font-weight: bold;
  padding-left: var(--PADDING);
  font-family: var(--FONT);
}

span {
  color: var(--COLORTHREE);
}

nav {
  background: var(--FONTCOLOR);
  border-top: solid var(--COLORTHREE) 5px;
  border-bottom: solid var(--COLORTHREE) 5px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: var(--BODYBACKGROUND);
  font-size: 35.596px;
  padding: 55px;
  font-family: var(--FONT);
  font-weight: bolder;
}

nav a:hover {
  color: var(--COLORTHREE);
}

.main-section {
  font-family: var(--FONTTWO);
  border-bottom: 5px var(--COLORTWO) solid;
  padding-bottom: var(--PADDING);
}

img {
  float: left;
  border-radius: 5px;
  padding: 43px;
}

.textbox {
  display: block;
  justify-content: right;
  padding: 40px;
}

@media screen and (max-width: 600px) {
  body {
    background-color: var(--COLORONE);
    max-width: 100%;
    max-height: fit-content;
    line-height: 25px;
  }

  .main-header {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  h1 {
    font-size: 36px;
    padding: 20px;
  }

  .header-img {
    display: none;
  }

  nav {
    padding: 20px 0;
  }

  nav a {
    font-size: 18px;
    padding: 16px;
    font-weight: bolder;
  }

  img {
    width: 125px;
    height: auto;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 0;
  }

  p {
    text-align: justify;
    font-size: 14px;
  }

  .textbox {
    padding-right: 35px;
    padding-top: 15px;
  }

  .main-section {
    background-color: black;
    /* display: flex; */
    font-family: var(--FONTTWO);
    border-bottom: 5px var(--COLORTWO) solid;
    padding-bottom: var(--PADDING);
  }
}
